<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Green Bills Support Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td style="padding: 10px 0 30px 0;">
                    <table style="border: 1px solid #cccccc; border-collapse: collapse;" align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
                        <tbody>
                            <tr>
                                <td style="padding: 40px 0 30px 0; color: #FFFFFF; font-size: 22px; font-weight: normal; font-family: Arial, sans-serif;" align="center" bgcolor="#0F2B62">
                                    GreenBills Support Center
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 40px 30px 40px 30px;" bgcolor="#ffffff">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 18px;">
                                                    <b>@@EmailSubject@@</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 20px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">
                                                    @@EmailReciepient@@,
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">
                                                    @@EmailBody@@
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0px 0 0px 0; color: #153643; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px;">
                                                    Regards,<br/><br />GreenYourBills Support Team<br/>Email: ggsupport@greenyourbills.com<br/>Contact#: +1(646) 736-3921
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 30px 30px 30px 30px;" bgcolor="#ee4c50">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                                                    We thank you for using Green Bills !<br />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>